$blue: #9FBFBF;
$mainFont: lato,helvetica, ariel, sans-serif;
$margin: 5%;
$cream: #F2EFEB;
$cream2: $cream - 100;

@mixin border-radius($radius: 20px) {
    border-radius:$radius;
    -webkit-border-radius:$radius;
    -moz-border-radius:$radius;
}

header {
    h1 {
        color: $blue;
    }

    h2 {
        color: $blue;
    }
}
body {
    background: $blue;
    font-family: $mainFont;

    .par1 {
        a {
            font-size: 24px;
        }
    }
}

.grad{
    padding:1%;
    @include border-radius(5px);
    border:1px solid #fff;
    background-color:$cream;
    .intro{
        background-color:#333;
        @include border-radius;
        .par1{
            color:$blue+100;
            a{
                font-size:20px;
                background-color:$cream;
                @include border-radius;
            }
        }
    }
    .feature {
        @extend .intro;
        border:1px solid yellow;
    }
}
